.Main {
    background-color: #000000; /* Utiliza el color que desees */
    width: 100%; /* Ancho del div */
    height: 100px; /* Altura del div */
}

#MainT {
    color: rgb(255, 255, 255);
    font-family: 'Old English Text MT', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 5rem;
}


.contenedorPortada {
    justify-content: center;
    text-align: center;
    background-color: #937948;
}

.imgPortada {
    flex: 1;
    text-align: center;
    margin: 5px; /* Agrega un margen de 10px entre las imágenes */
    display: inline-block;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 300px; /* Ancho total del elemento, incluyendo el borde */
    height: 300px; /* Alto total del elemento, incluyendo el borde */
}

#franja2 {
    background-color: #000;
    justify-content: center;
    text-align: center;
}

#quienSoy {
    color: aliceblue;
    font-family: 'Old English Text MT', sans-serif;
    font-size: 45px;
}

#quienSoyP {
    color: aliceblue;
    font-family: Segoe UI, Arial;
}

.contenedor {
    display: flex;
}

.barraLateral {
    width: 250px; /* Ancho de la barra lateral */
    height: 100vh;
    background-color: #fff; /* Color de fondo de la barra lateral */
    color: #000; /* Color de texto en la barra lateral */
    padding: 20px; /* Espacio alrededor del contenido de la barra lateral */
    position: fixed; /* Fijar la barra lateral en su posición */
    right: 0;
}


.contenidoMain {
    flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
    margin-right: 250px;
}

* {
    margin: 0;
    padding: 0;
}


