<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Hablame de esto</title>
</head>
<body>
    <head>
        <div class="Main">
        <h1 id="MainT">Diego Deaza Villarreal</h1>
        </div>
        <div class = "contenedorPortada">
            <div class="imgPortada">
                <img src="{{ url_for('static', filename='img/f1.png') }}" width="300" class="imgcentrada"/>
            </div>
            <div class = "imgPortada">
                <img src="{{ url_for('static', filename='img/f2.png') }}" width="300" height="300" class="imgcentrada"/>
            </div>
            <div class="imgPortada">
                <img src="{{ url_for('static', filename='img/f3.png') }}" width="300" class="imgcentrada" style="border-bottom: 1px solid #000;"/>
            </div>
        </div>
    </head>
    <section>
        <h1>¿Quíen soy?</h1>
        <p>No se que poner aquí, pero puede ser un parrafo diciendo que <br>
        sos un dios del piano y que sabes tocar un monton de cosas jaja <br>
        vos entendes.
        </p>
        <hr>
        <p>Oe pa que ideota, a lo bien que me sirve mucho pa desarrollo web</p>
        <hr>
    </section>
    <footer>
        <p>copyright CarlangasDev</p>
    </footer>   
</body>
</html>